<% content_for :title do %>
  Sony Breach Attributed to <%= @actor['long_name'] %>
<% end %>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <% if @actor['actor'] == "external" %>
        <h2>Sony breach linked to <%= "#{@country['people'].titlecase} #{@actor['long_name']}" %>
      <% else %>
        <h2>Sony breach linked to <%= @actor['long_name'] %></h2>
      <% end %>

      <h3>Executive Summary</h3>

      <p>On November 24, 2014, personally identifiable information about Sony
      Pictures Entertainment employees and their dependents, e-mails between
      employees, information about executive salaries at the company, copies of
      unreleased Sony films, and other information, was obtained and released by
      a hacker group going under the moniker "Guardians of Peace" or
      "GOP".</p>

      <p>Although the motives for the hack have yet to be revealed, the hack has
      been tied to the planned release of the film The Interview, which depicts
      an assassination attempt on North Korean leader Kim Jong-un, with the
      hackers threatening acts of terrorism if the film were to be released.</p>

      <p>Recently, a team of <%= @how_many_researchers %> researchers from <%=
      @vendors %>   have   gathered enough evidence to state, conclusively, that <%=
      "#{@actor['prefix']} #{@actor['long_name']}" %> operating out of <%= @country['long_name'] %> is responsible for the data breach impacting Sony
      Pictures Entertainment.
      <% if ['State-affiliated','Nation-state'].include?(@actor['variety']) and @country['abr'] == "NK" %>
        <%= erb :totally_korea %>
      <% else %>
        <%= erb :not_korea %>
      <% end %>

      <h3>Links to <%= @country['country'] %></h3>

      <h3>Indicators of Compromise</h3>
      <h4>IP Indicators</h4>
      Spit out some random ip addresses from whatever country got the blame

      <h4>Malware Indicators</h4>
      <%= erb :yara %>


    </div>
  </div>
</div>
